<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <servers>
    </servers>

    <profiles>
        <profile>
            <id>safe-edu-profile</id>
            <repositories>
                <repository>
                    <id>tencent-maven</id>
                    <name>TencentCloud Maven</name>
                    <url>https://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven2-plugin</id>
                    <url>https://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>safe-edu-profile</activeProfile>
    </activeProfiles>
</settings>
