<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyfishs.dawa.notice.mapper.NoticeMapper">

    <select id="queryListCreate" resultType="com.joyfishs.dawa.notice.domain.vo.NoticeVo">
        select a.*,b.name as create_org_name,c.name as range_name
        from xm_notice a
        left join sys_org b on a.create_org_id = b.id
        left join sys_org c on a.range_id = c.id
        where a.is_delete = 0
        and a.create_by = #{userId}
        and a.type = #{type}
        <if test="title != null and title != ''">
            and a.title like concat('%', #{title}, '%')
        </if>
        order by a.create_time desc
    </select>

    <select id="queryListReceive" resultType="com.joyfishs.dawa.notice.entity.Notice">
        select a.*,(select name from sys_org where a.create_org_id = id) as create_org_name
        from xm_notice a
        where a.is_delete = 0
        and a.status = 1
        and exists(select 1 from xm_person p
                    left join sys_org o on p.org_id = o.id
                    where p.id = #{personId}
                    and (p.org_id = a.range_id or o.pids like concat('%[', a.range_id ,']%') )
                  )
        <if test="title != null and title != ''">
            and a.title like concat('%', #{title}, '%')
        </if>
        order by a.is_top desc,a.publish_time desc
    </select>

    <select id="findHomeNewsBulletin" resultType="com.joyfishs.dawa.notice.domain.vo.NoticeVo">
        select a.*,(select name from sys_user where id = a.create_by) as publish_name
        from xm_notice a
        where a.is_delete = 0
        and a.status = 1
        and exists(select 1 from xm_person p
                    left join sys_org o on p.org_id = o.id
                    where p.id = #{personId}
                    and (p.org_id = a.range_id or a.range_id = 0 or o.pids like concat('%[', a.range_id ,']%') )
                  )
        <if test="type != null">
            and a.type = #{type}
        </if>
        <if test="title != null and title != ''">
            and a.title = CONCAT('%',#{title},'%')
        </if>
        ORDER BY a.is_top desc,a.publish_time desc
    </select>

    <select id="findHomeNewsBulletinByAnonymous" resultType="com.joyfishs.dawa.notice.domain.vo.NoticeVo">
        select a.*,(select name from sys_user where id = a.create_by) as publish_name
        from xm_notice a
        where a.is_delete = 0
        and a.status = 1
        and a.range_id = 0
        <if test="type != null">
            and a.type = #{type}
        </if>
        <if test="title != null and title != ''">
            and a.title = CONCAT('%',#{title},'%')
        </if>
        ORDER BY a.is_top desc,a.publish_time desc
    </select>
</mapper>
